
<div class = "hello">
<div class = "poster">
    {{content.field_image}}
</div>
<br>
<br>

<div class = "desc">
    {{content.body}}
</div>
<br>
<br>

<div class = "director">
    {{content.field_director}}
</div>
<br>

<div class = "actor">
    {{content.field_actor}}
</div>
<br>
<br>

</div>
